<app-header-page></app-header-page>
<div class="main-color" (click)="closedDropdown()">
  <main>
    <section class="section pb-5">
      <div class="container">
        <div class="position-relative">
          <div class="mt-5 w-100 d-flex justify-content-center pt-4">
            <div>
              <div>
                <h5 class="fw-bold text-white text-center">WELCOME TO</h5>
              </div>
              <div class="d-flex justify-content-center mt-2">
                <div class="w-25">
                  <img
                    class="w-100"
                    src="assets/new-images/bhai-chain-page.png"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-center">
            <div class="chain-img-comnt">
              <img class="w-100" src="assets/new-images/Chain-logo.png" />
            </div>
          </div>

          <div class="top-green-bg">
            <div>
              <img class="w-100" src="assets/new-images/Ellipse1.png" />
            </div>
          </div>
        </div>
      </div>
      <div class="position-relative">
        <div class="pt-5">
          <div class="w-100 text-center">
            <h4 class="fw-bold text-white text-center">
              PAYMENT AND DATA COMMUNICATION
            </h4>
            <h4 class="fw-bold text-white text-center">
              INFRASTRUCTURE ON EARTH AND BEYOND
            </h4>
          </div>
        </div>

        <div class="d-flex justify-content-center mt-5 pb-5">
          <div class="coming-soon-card">
            <div class="p-5 pt-0 pb-0 m-5">
              <div class="w-100 d-flex justify-content-center">
                <div class="card-img-cont-one">
                  <img
                    class="w-100"
                    src="assets/new-images/bhai-chain-page.png"
                  />
                </div>
              </div>
              <div class="w-100 d-flex justify-content-center">
                <div class="card-img-cont">
                  <img
                    class="w-100 mt-3"
                    src="assets/new-images/COMING-SOON..!.png"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="right-green-smoke">
          <div class="">
            <img class="w-100" src="assets/new-images/right-green-smoke.png" />
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
<app-bhai-chain-footer></app-bhai-chain-footer>

<!-- <app-footer-page></app-footer-page> -->
