<!-- ======= Hero Section ======= -->

<app-header-page></app-header-page>

<section class="hero-section" id="hero">
  <div class="container">
    <div
      class="row align-items-center browsewrView"
      style="padding: 0px !important"
    >
      <div class="col-12 hero-text-image template">
        <div class="row" style="justify-content: center; display: flex">
          <img
            class="verifyImg"
            style="
              height: auto;
              object-fit: cover;
              width: 80%;
              display: flex;
              justify-content: center;
              padding: 0px;
              border-radius: 25px;
            "
            src="assets/bhaiPay-svg/16.9 w (1) (1).png"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
  <div
    class="row align-items-center mobileView"
    style="padding: 0px !important"
  >
    <div class="col-12 hero-text-image template">
      <div class="row" style="justify-content: center; display: flex">
        <img
          class="verifyImg mt-5"
          style="
            height: auto;
            object-fit: cover;
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 0px;
          "
          src="assets/bhaiPay-svg/16.9 w (1) (1).png"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
