<!-- <app-home-hero-page></app-home-hero-page> -->
<app-header-page></app-header-page>

<!-- ======= Hero Section ======= -->
<section class="privacy-bg" id="hero">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 hero-text-image template">
        <section class="section mb-5 mt-5" id="hero">
          <div class="container">
            <div class="row justify-content-center text-center mb-3 mt-3">
              <div class="col-md-5 w-100" data-aos="fade-up">
                <h2 class="karlaFont">BHAI Privacy Policy</h2>
              </div>
            </div>

            <div class="row align-items-center mb-4">
              <div class="col-md-4 me-auto w-100 mb-2">
                <h3 class="mb-1 karlaFont">Last Updated: September 15, 2023</h3>
              </div>

              <div class="nexaFont">
                If you visit any of our websites, download or use our web-hosted
                user interface located at
                <a href="">https://www.bhaifinance.com</a> (“App”), (together,
                our “Services”), BHAI Finance, Inc. ("BHAI," "we," "us," and
                "our") will ask for, collect, and store personal information
                about you (your “Personal Data”). We would not be able to
                provide our Services to you without the Personal Data you
                provide us, which is why we want you to know that we take our
                responsibility to protect your Personal Data very seriously. We
                also want to make very clear how we use your Personal Data so
                that you can make informed choices about your use of our
                Services
              </div>

              <div class="my-2 nexaFont">
                This document (our “Privacy Policy”) explains how we collect and
                use your Personal Data, how and with whom we share your Personal
                Data, and how we protect your Personal Data. This Privacy Policy
                is subject to the BHAI Terms of Use available at [company terms
                website]. If you have questions about this Privacy Policy, or
                have suggestions for how we can improve it, please contact us at
                info@bhai.finance.
              </div>
              <div class="my-2 nexaFont">
                If you do not want us to collect Personal Data from you or share
                Personal Data with any third parties or otherwise disclose your
                Personal Data, you should not use the App, visit our website, or
                apply or use our Services.
              </div>

              <h3 class="my-2 karlaFont">Collection of Information</h3>
              <div class="my-2 nexaFont">
                In the table below, we provide the list of categories of
                Personal Data that BHAI has collected within the last twelve
                months and some examples for a better understanding. We also
                have identified the main sources and purposes for collection:
              </div>
              <div class="overFlow">
                <table class="table table-bordered my-2 privacy-bg">
                  <thead>
                    <tr>
                      <th class="bgTable" scope="col">
                        <div class="karlaFont">Categories of Personal Data</div>
                      </th>
                      <th class="bgTable" scope="col">
                        <div class="karlaFont">Examples</div>
                      </th>
                      <th class="bgTable" scope="col">
                        <div class="karlaFont">Sources of Personal Data</div>
                      </th>
                      <th class="bgTable" scope="col">
                        <div class="karlaFont">
                          Purposes for Personal Data Collection
                        </div>
                      </th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td scope="row" class="bgTable">
                        <div class="nexaFont">Identifiers</div>
                      </td>
                      <td class="bgTable">
                        <div class="nexaFont">
                          First and last name and middle initial, date of birth,
                          email address, mobile telephone number, mailing
                          address, username, password, or other account access
                          credentials.
                        </div>
                      </td>
                      <td class="bgTable">
                        <div>
                          <ul>
                            <li class="nexaFont">
                              Consumer directly (e.g. forms you complete or
                              services you obtain from us)
                            </li>
                            <li>Third parties</li>
                          </ul>
                        </div>
                      </td>

                      <td class="bgTable">
                        <div>
                          <ul>
                            <li class="nexaFont">
                              Keep track of the Personal Data associated with
                              your Bhaifinance Account Help you access and
                              restore access to your Bhaifinance Account
                            </li>
                            <li class="nexaFont">
                              Help you access and restore access to your
                              Bhaifinance Account
                            </li>
                            <li class="nexaFont">
                              Prevent others from accessing your Bhaifinance
                              Account
                            </li>
                            <li class="nexaFont">
                              Send administrative information to you
                            </li>
                            <li class="nexaFont">
                              Detect and prevent fraud and/or funds loss
                            </li>
                            <li class="nexaFont">
                              Engage in marketing activities
                            </li>
                          </ul>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="bgTable">
                        <div class="nexaFont">Customer Records</div>
                      </td>

                      <td class="bgTable">
                        <div class="nexaFont">
                          Unique identifiers associated with your biller
                          information, credit card Internet or other electronic
                          network activity information accounts including
                          mortgage account
                        </div>
                      </td>
                      <td class="bgTable">
                        <div>
                          <ul>
                            <li class="nexaFont">
                              Consumer directly (e.g. forms you complete or
                              services you obtain from us)
                            </li>
                            <li class="nexaFont">Third parties</li>
                          </ul>
                        </div>
                      </td>
                      <td class="bgTable">
                        <div>
                          <ul>
                            <li class="nexaFont">
                              Determine your eligibility for our Services
                            </li>
                            <li class="nexaFont">
                              Recommend other products and services to you
                            </li>
                            <li class="nexaFont">
                              Permit our financial partners to verify your
                              identity
                            </li>
                            <li class="nexaFont">
                              Permit us and our financial partners to comply
                              with applicable consumer protection laws
                            </li>
                            <li class="nexaFont">
                              Detect and prevent fraud and/or funds loss
                            </li>
                            <li class="nexaFont">
                              Provide our Services to you and our customers
                            </li>
                            <li class="nexaFont">
                              Enhance security, monitor and verify identity or
                              service access, combat spam or other malware or
                              security risks
                            </li>
                            <li class="nexaFont">
                              Enforce our terms in our Terms of Use and other
                              agreements
                            </li>
                          </ul>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="bgTable">
                        <div class="nexaFont">
                          Internet or other electronic network activity
                          information
                        </div>
                      </td>
                      <td class="bgTable">
                        <div class="nexaFont">
                          Browser type, IP address, computer or mobile device
                          unique ID number, operating system, referring
                        </div>
                      </td>

                      <td class="bgTable">
                        <div>
                          <ul>
                            <li class="nexaFont">
                              Consumer directly (e.g. forms you complete or
                              services you obtain from us)
                            </li>
                          </ul>
                        </div>
                      </td>
                      <td class="bgTable">
                        <div>
                          <ul>
                            <li class="nexaFont">Analytics</li>
                            <li class="nexaFont">Advertising and marketing</li>
                            <li class="nexaFont">
                              Keep our websites and App safe and secure
                            </li>
                            <li class="nexaFont">Improve our services</li>
                          </ul>
                        </div>
                      </td>
                    </tr>

                    <tr>
                      <td class="bgTable">
                        <div></div>
                      </td>
                      <td class="bgTable">
                        <div class="nexaFont">
                          and exit pages, device event information.
                        </div>
                      </td>

                      <td class="bgTable">
                        <div></div>
                      </td>
                      <td class="bgTable">
                        <div>
                          <ul>
                            <li class="nexaFont">
                              Ensure network and information security
                            </li>
                          </ul>
                        </div>
                      </td>
                    </tr>

                    <tr>
                      <td class="bgTable">
                        <div class="nexaFont">Geolocation Data</div>
                      </td>
                      <td class="bgTable">
                        <div class="nexaFont">
                          Approximate location based on IP address
                        </div>
                      </td>
                      <td class="bgTable">
                        <div>
                          <ul>
                            <li class="nexaFont">
                              Consumer directly (e.g. forms you complete or
                              services you obtain from us)
                            </li>
                          </ul>
                        </div>
                      </td>

                      <td class="bgTable">
                        <div>
                          <ul>
                            <li class="nexaFont">Analytics</li>
                            <li class="nexaFont">
                              Determine your eligibility for our Services
                            </li>
                          </ul>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <h3 class="my-3 karlaFont">Sharing of Information</h3>
              <div class="my-2 nexaFont">
                Except as described in this Privacy Policy and unless otherwise
                expressly authorized by you in writing, BHAI will never share,
                sell, or communicate your Personal Data to or with anyone for
                any reason. We only share and disclose your Personal Data with
                the following third parties. We have categorized each party so
                that you may be easily understand the purpose of our data
                collection.
              </div>
              <div class="overFlow">
                <table class="table table-bordered my-2 privacy-bg">
                  <thead>
                    <tr>
                      <th class="bgTable" scope="col">
                        <div class="karlaFont">
                          Categories of third parties Why we share your Personal
                          Data with whom Personal Data has been shared
                        </div>
                      </th>
                      <th class="bgTable" scope="col">
                        <div class="karlaFont">
                          Why we share your Personal Data
                        </div>
                      </th>
                      <th class="bgTable" scope="col">
                        <div class="karlaFont">
                          Is Personal Data shared for a business
                        </div>
                      </th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td scope="row" class="bgTable">
                        <div class="nexaFont">Service Providers</div>
                      </td>
                      <td class="bgTable">
                        <div>
                          <ul>
                            <li class="nexaFont">
                              We may share your Personal Data with service Yes
                              providers including third party vendors,
                              consultants, contractors in order to complete
                              third party financial, technical, compliance and
                              legal audits of our operations or otherwise comply
                              with our legal obligations.
                            </li>
                            <li class="nexaFont">
                              Specifically, we share your Personal Data with
                              Plaid Financial. For more information on how Plaid
                              deals with personal data, please refer to their
                              privacy policy located at
                              https://plaid.com/legal/#consumers.
                            </li>
                          </ul>
                        </div>
                      </td>
                      <td class="bgTable">
                        <div class="nexaFont">Yes</div>
                      </td>
                    </tr>
                    <tr>
                      <td class="bgTable">
                        <div class="nexaFont">Purchasers of Our Business</div>
                      </td>

                      <td class="bgTable">
                        <div>
                          <ul>
                            <li class="nexaFont">
                              We may share or transfer your Personal Data in
                              connection with, or during negotiations of, any
                              merger, sale of company assets, financing, or
                              acquisition of all or a portion of our business to
                              another company.
                            </li>
                          </ul>
                        </div>
                      </td>
                      <td class="bgTable">
                        <div class="nexaFont">Yes</div>
                      </td>
                    </tr>
                    <tr>
                      <td class="bgTable">
                        <div class="nexaFont">Law Enforcement</div>
                      </td>
                      <td class="bgTable">
                        <div>
                          <ul>
                            <li class="nexaFont">
                              We may share your Personal Data in order to
                              comply, as necessary, with applicable laws and
                              regulatory requirements, as well as legal process,
                              respond to mandatory legal or governmental
                              requests or demands for information, enforce our
                              agreements, policies,procedures and terms of use,
                              and protect ourselves, our customers, or the
                              general public from illegal activities.
                            </li>
                          </ul>
                        </div>
                      </td>

                      <td class="bgTable">
                        <div class="nexaFont">No</div>
                      </td>
                    </tr>

                    <tr>
                      <td class="bgTable">
                        <div class="nexaFont">
                          Payment processors and financial service providers
                        </div>
                      </td>
                      <td class="bgTable">
                        <div>
                          <ul>
                            <li class="nexaFont">
                              We may share your Personal Data with our payment
                              processors and financial service providers as
                              necessary to enable them to process payments, and
                              for anti-fraud purposes.
                            </li>
                            <li class="nexaFont">
                              For example, if you send us funds from your bank
                              account, your bank will provide us with
                              identifying information in addition to information
                              about your account in order to complete the
                              transaction.
                            </li>
                          </ul>
                        </div>
                      </td>

                      <td class="bgTable">
                        <div class="nexaFont">Yes</div>
                      </td>
                    </tr>

                    <tr>
                      <td class="bgTable">
                        <div class="nexaFont">
                          Business Partners and Bhaifinance Affiliates
                        </div>
                      </td>
                      <td class="bgTable">
                        <div>
                          <ul>
                            <li class="nexaFont">
                              We may share your Personal Data with our Business
                              Partners as necessary to provide you with our
                              Services.
                            </li>
                          </ul>
                        </div>
                      </td>
                      <td class="bgTable">
                        <div class="nexaFont">Yes</div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <h3 class="my-2 karlaFont">Third-Party Links</h3>

              <div class="my-2 nexaFont">
                The BHAI website and App may include links to other websites or
                apps. Your interaction with and use of these linked sites are
                not governed by this Privacy Policy but rather by the privacy
                policies of those third-party websites. We are not responsible
                for the Personal Data practices of such third-party websites.
                Please review the privacy policies of these sites before
                disclosing your Personal Data to them.
              </div>

              <h3 class="my-2 karlaFont">Children's Privacy</h3>
              <div class="my-2 nexaFont">
                The BHAI website and App are not intended for children. We do
                not knowingly collect, use, sell, or share any Personal Data
                from individuals under the age of 18. If we become aware that a
                child under the age of 18 has provided Personal Data to us, we
                will promptly delete it.
              </div>

              <h3 class="my-2 karlaFont">
                Cookies, Advertising, and Analytics Services
              </h3>

              <div class="my-2 nexaFont">
                We may permit others to provide analytics services and deliver
                advertisements on our behalf across the Internet and in
                applications. These entities may employ cookies, web beacons,
                device identifiers, and similar technologies to gather
                information about your use of the Services and other websites
                and applications. This may include your IP address, web browser,
                mobile network information, pages viewed, time spent on pages or
                within apps, links clicked, and conversion data.
              </div>
              <div class="my-2 nexaFont">
                These tools serve various purposes, including but not limited
                to:
              </div>
              <div class="my-2 nexaFont">
                • Providing you with Services that enable communication with our
                customer service team
              </div>
              <div class="my-2 nexaFont">• Conducting website analytics</div>
              <div class="my-2 nexaFont">
                • Enhancing the relevance of advertisements you encounter
              </div>
              <div class="my-2 nexaFont">
                • Detecting and preventing fraud and attacks on our websites and
                Services
              </div>
              <div class="my-2 nexaFont">
                • Promoting BHAI products and services, as well as products and
                services from our partner companies
              </div>
              <div class="my-2 nexaFont">
                We employ cookies and trackers to assign a unique identifier to
                you, allowing us to record:
              </div>
              <div class="my-2 nexaFont">• Websites you visit</div>
              <div class="my-2">
                • Duration of time an advertisement remains visible
              </div>
              <div class="my-2 nexaFont">• IP Address</div>
              <div class="my-2 nexaFont">
                You have the option to block cookies at any time through your
                web browser settings or App preferences, though this may impact
                your browsing experience and access to specific App features.
              </div>
              <div class="my-2 nexaFont">
                Currently, we do not respond to "Do Not Track" or DNT browser
                signals or any other automated mechanisms signaling your
                preference not to be tracked online. To learn more about
                interest-based ads or opt-out of the use of your web browsing
                data for behavioral advertising purposes, please visit
                www.aboutads.info/choices. BHAI also employs Google Analytics.
                The following link outlines how Google utilizes data when you
                use websites and applications offered by its partners:
                www.google.com/policies/privacy/partners/. Your use of BHAI's
                website implies your consent to BHAI's storage and access of
                cookies and other data on your computer or mobile device, as
                well as BHAI's utilization of Google Analytics in connection
                with these activities. Please review the information provided in
                the link to fully understand your consent.
              </div>
              <h3 class="my-2 karlaFont">Security</h3>
              <div class="my-2 nexaFont">
                We are dedicated to safeguarding the privacy and confidentiality
                of your Personal Data. Access to your Personal Data is
                restricted to our authorized employees or agents, and we impose
                contractual obligations on our business partners and service
                providers to restrict their use of your Personal Data.
                Additionally, we employ physical, technical, and administrative
                safeguards to protect your Personal Data against loss, misuse,
                alteration, unauthorized access, or disclosure.
              </div>
              <h3 class="my-2 karlaFont">Your Choices</h3>
              <div class="my-2 nexaFont">
                Account Information You have the option to update, correct, or
                delete your information at any time by logging into your online
                account, reaching out to us via email at support@BHAI.finance,
                or accessing the BHAI App. Should you wish to delete or
                deactivate your account, please contact us at
                support@BHAI.finance. Be aware that certain information may be
                retained as required by law or for legitimate business purposes.
                Additionally, cached or archived copies of your information may
                be kept for a specific duration.
              </div>
              <div class="my-2 nexaFont">
                Promotional Communications If you no longer wish to receive
                promotional emails, text messages, or app notifications from
                BHAI, you can opt out by following the instructions provided in
                those communications or by contacting us at
                support@BHAI.finance. Even if you opt out, you may still receive
                non- promotional communications, such as those related to your
                account or our ongoing business relationship.
              </div>
              <div class="my-2 nexaFont">
                Mobile Push Notifications/Alerts With your consent, we may send
                both promotional and non-promotional push notifications or
                alerts to your mobile device. You can deactivate these messages
                at any time by adjusting your mobile device's notification
                settings.
              </div>
              <h3 class="my-2 karlaFont">California Privacy Rights</h3>

              <div class="my-2 nexaFont">
                As a California consumer, you possess the following rights
                concerning our use and disclosure of your Personal Data, subject
                to specific limitations under the California Consumer Privacy
                Act (“CCPA”):
              </div>
              <div class="my-2 nexaFont">
                • Right to know. You can request, up to twice in a 12-month
                period, specific details about the Personal Data we have
                gathered, utilized, disclosed, or sold about you in the previous
                12 months, including:
              </div>
              <div class="my-2 nexaFont">
                • the categories and specific pieces of Personal Data collected
                about you;
              </div>
              <div class="my-2 nexaFont">
                • the sources from which we obtained the Personal Data;
              </div>
              <div class="my-2 nexaFont">
                • the business or commercial purposes behind collecting the
                Personal Data;
              </div>
              <div class="my-2 nexaFont">
                • the categories of third parties with whom we shared the
                Personal Data; and
              </div>
              <div class="my-2 nexaFont">
                • the categories of Personal Data about you that were disclosed
                for business purposes and sold to third parties, along with the
                categories of third parties receiving this information.
              </div>
              <div class="my-2 nexaFont">
                • Right to delete. You may request the deletion of Personal Data
                we have collected from you, subject to specific CCPA
                limitations.
              </div>
              <div class="my-2 nexaFont">
                • Right to opt-out of Personal Data sale. You retain the right
                to opt-out of the sale of your Personal Data. BHAI does not sell
                your Personal Data.
              </div>
              <div class="my-2 nexaFont">
                • Non-discrimination. The CCPA ensures that you will not face
                discrimination for exercising these rights.
              </div>
              <div class="my-2 nexaFont">
                To submit a request to exercise any of these rights, please
                email us at support@BHAI.finance. Before responding to your
                request, we will verify your identity by confirming that the
                email address from which you sent the request matches the one we
                have on record or by requiring you to log into your account.
              </div>
              <h3 class="my-2 karlaFont">
                Consumer Request by an Authorized Agent
              </h3>
              <div class="my-2 nexaFont">
                If an authorized agent submits a consumer request under the CCPA
                on your behalf, we require the authorized agent to provide the
                following information to verify their authority to act on your
                behalf:
              </div>
              <div class="my-2 nexaFont">
                • Proof of authorization to represent the California consumer:
                (1) Authorization from the California Secretary of State, (2)
                Notarized written consent from the California consumer, or (3)
                Power of attorney.
              </div>
              <div class="my-2 nexaFont">
                • Proof of the California consumer's identity: (1) First and
                last name, (2) Email address, and (3) Password.
              </div>
              <h3 class="my-3 karlaFont">
                NOTICE TO CALIFORNIA RESIDENTS – YOUR CALIFORNIA PRIVACY RIGHTS
                (AS PROVIDED BY CALIFORNIA CIVIL CODE SECTION 1798.83)
              </h3>
              <h4 class="my-2 font nexaFont">
                A CALIFORNIA RESIDENT WHO HAS PROVIDED PERSONAL DATA TO A
                BUSINESS WITH WHOM THEY HAVE ESTABLISHED A BUSINESS RELATIONSHIP
                FOR PERSONAL, FAMILY, OR HOUSEHOLD PURPOSES (A “CALIFORNIA
                CUSTOMER”) MAY REQUEST INFORMATION ABOUT WHETHER THE BUSINESS
                HAS DISCLOSED PERSONAL DATA TO ANY THIRD PARTIES FOR THE THIRD
                PARTIES’ DIRECT MARKETING PURPOSES. GENERALLY, IF THE BUSINESS
                HAS MADE SUCH A DISCLOSURE OF PERSONAL DATA, UPON RECEIPT OF A
                REQUEST BY A CALIFORNIA CUSTOMER, THE BUSINESS IS REQUIRED TO
                PROVIDE A LIST OF ALL THIRD PARTIES TO WHOM PERSONAL DATA WAS
                DISCLOSED IN THE PRECEDING CALENDAR YEAR, ALONG WITH A LIST OF
                THE CATEGORIES OF PERSONAL DATA THAT WERE DISCLOSED. CALIFORNIA
                CUSTOMERS MAY REQUEST FURTHER INFORMATION ABOUT OUR COMPLIANCE
                WITH THIS LAW BY EMAILING INFO@BHAIFINANCE.COM . PLEASE NOTE
                THAT WE ARE REQUIRED TO RESPOND TO ONE REQUEST PER CALIFORNIA
                CUSTOMER EACH YEAR AND WE ARE NOT REQUIRED TO RESPOND TO
                REQUESTS MADE THROUGH MEANS OTHER THAN THIS EMAIL ADDRESS.
              </h4>
              <h3 class="my-3 karlaFont">Changes to this Privacy Policy</h3>
              <div class="my-2 nexaFont">
                We may revise this Privacy Policy periodically to reflect
                modifications in our practices related to the collection,
                utilization, and sharing of Personal Data. The updated Privacy
                Policy will be effective immediately upon being posted on the
                BHAI website, through notification via the BHAI App, or by
                email. If you continue to utilize the BHAI website and the App
                after these changes, you will be considered to have accepted
                them. Therefore, please check this Privacy Policy regularly for
                updates.
              </div>
              <h3 class="my-3 karlaFont">Contact Us</h3>
              <div class="my-2 nexaFont">
                If you have any inquiries about this Privacy Policy, kindly
                reach out to us at <a href="">info@bhaifinance.com.</a>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->
