<!-- <app-header-page></app-header-page>
<div class="main-color">
  <main>
    <section class="section pb-5">
      <div class="container">
        <div class="row justify-content-center text-center mb-3 mt-5">
          <div class="col-md-5" data-aos="fade-up">
            <h1 class="karlaFont fw-bold content-heading-colour mt-5">
              BHAI PAY
            </h1>
          </div>
        </div>

        <div class="cards">
          <div class="p-5">
            <div class="row">
              <div class="col-md-4">
                <div class="d-flex justify-content-center">
                  <div class="card-img-cont">
                    <img
                      class="w-100"
                      src="assets/new-images/bhaipay-Logo.png"
                      alt=""
                    />
                  </div>
                </div>
                <div class="d-flex justify-content-center">
                  <div class="card-img-cont">
                    <img
                      class="w-100"
                      src="assets/new-images/BHAI-PAY-white.png"
                      alt=""
                    />
                  </div>
                </div>
              </div>

              <div class="col-md-1 d-flex justify-content-center">
                <div class="vertical-border"></div>
              </div>

              <div class="col-md-7">
                <div>
                  <ul>
                    <li class="mt-2">
                      <h4 class="karlaFont text-white">
                        Convert any digital asset to fiat in real time
                      </h4>
                    </li>

                    <li class="mt-2">
                      <h4 class="karlaFont text-white">
                        We swap in bulk! Enjoy the lowest fees to transact any
                        platform can offer! 
                      </h4>
                    </li>
                    <li class="mt-2">
                      <h4 class="karlaFont text-white">
                        Remittance made easier! We reduce your fees and wait
                        time for payments to settle in the hands of your loved
                        ones in a few simple clicks!
                      </h4>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section pb-5">
      <div class="container">
        <div class="row justify-content-center text-center mb-3 mt-5">
          <div class="col-md-5" data-aos="fade-up">
            <h1 class="karlaFont fw-bold content-heading-colour mt-5">
              BHAI WALLET
            </h1>
          </div>
        </div>

        <div class="cards">
          <div class="p-5">
            <div class="row">
              <div class="col-md-4">
                <div class="d-flex justify-content-center">
                  <div class="card-img-cont">
                    <img
                      class="w-100"
                      src="assets/new-images/bhaiwallet.png"
                      alt=""
                    />
                  </div>
                </div>
                <div class="d-flex justify-content-center">
                  <div class="card-img-cont">
                    <img
                      class="w-100 mt-3"
                      src="assets/new-images/BHAI-WALLET-white.png"
                      alt=""
                    />
                  </div>
                </div>
              </div>

              <div class="col-md-1 d-flex justify-content-center">
                <div class="vertical-border"></div>
              </div>

              <div class="col-md-7">
                <div>
                  <ul>
                    <li class="mt-2">
                      <h4 class="karlaFont text-white">
                        Securely manage and trade your digital assets.
                      </h4>
                    </li>

                    <li class="mt-2">
                      <h4 class="karlaFont text-white">
                        BHAI Wallet is a multichain wallet offering your a
                        fortress for your digital assets with high tech
                        encryption and multifactor authentication.
                      </h4>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-center mt-5 p-4">
        <img class="w-100 p-5" src="assets/new-images/ai.png" alt="" />
      </div>

      <div class="d-flex justify-content-center pt-0 p-4">
        <img
          class="w-100 p-5 pt-0"
          src="assets/new-images/WITH BHAI, PAY ANYTIME, ANYWHERE!.png"
          alt=""
        />
      </div>

      <div class="d-flex justify-content-center pt-0 p-4">
        <img class="w-100 p-5 pt-0" src="assets/new-images/ai-two.png" alt="" />
      </div>
    </section>

    <div class="second-bg">
      <div class="container">
        <div class="p-5">
          <div class="d-flex justify-content-center">
            <h1 class="karlaFont text-center">
              LEVERAGE YOUR DIGITAL ASSETS FOR BILL PAYMENTS
            </h1>
          </div>

          <div class="d-flex justify-content-center mt-2">
            <h4 class="karlaFont text-dark">
              Simplify bill payments with BHAI WALLET: Pay for utilities,
              subscriptions, and rent using your digital assets. Streamline your
              finances and enhance the value of your digital wealth
              effortlessly.
            </h4>
          </div>

          <div class="d-flex justify-content-center pt-3">
            <img
              class="w-100 pt-2"
              src="assets/new-images/AI-THREE.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>

    <section class="section pb-5">
      <div class="container">
        <div class="p-5">
          <div>
            <h1
              class="karlaFont fw-bold content-heading-colour mt-5 text-center"
            >
              REVOLUTIONIZE THE WAY YOU SPEND GLOBALLY
            </h1>
          </div>
          <div class="d-flex justify-content-center">
            <h4 class="karlaFont text-white">
              Discover seamless international transactions with BHAI Pay and say
              goodbye to hefty foreign exchange fees! Embrace the convenience of
              paying in local currencies abroad by switching to your local card
              feature. Enjoy hassle-free payments in any country's currency!
            </h4>
          </div>

          <div class="d-flex justify-content-center">
            <img
              class="w-100 pt-2"
              src="assets/new-images/ai-four.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>
  </main>
  <app-footer-page></app-footer-page>
</div> -->

<app-header-page></app-header-page>
<div class="main-color" (click)="closedDropdown()">
  <main>
    <section class="section pt-5">
      <div class="d-flex justify-content-center mt-5 position-relative">
        <div class="bhaipay-container">
          <div>
            <div>
              <img class="w-100" src="assets/bhai-pay-page/BHAI-PAY-card.png" />
            </div>
          </div>
        </div>

        <div class="bhai-pay-bg">
          <div class="w-25">
            <img class="w-100" src="assets/bhai-pay-page/Ellipse-two.png" />
          </div>
        </div>
      </div>
    </section>

    <section class="section mt-5">
      <div class="d-flex justify-content-center mt-5 position-relative">
        <div class="bhaipay-container">
          <div>
            <div>
              <img
                class="w-100"
                src="assets/bhai-pay-page/BHai-Wallet-card.png"
              />
            </div>
          </div>

          <div class="bhai-wallet-bg">
            <div class="d-flex justify-content-end">
              <div class="blur-img">
                <img class="w-100" src="assets/bhai-pay-page/Ellipse-one.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section mt-5 h-100 long-img-cont">
      <div class="d-flex justify-content-center mt-5 position-relative">
        <div class="bhaipay-container">
          <div>
            <div>
              <img
                class="w-100"
                src="assets/bhai-pay-page/bhai-pay-page-long-img.png"
              />
            </div>
          </div>
        </div>

        <div class="bhai-pay-page-long-img-bg">
          <div class="d-flex justify-content-start">
            <div class="w-25">
              <img
                class="green-smoke-img"
                src="assets/bhai-pay-page/Ellipse-three.png"
              />
            </div>
          </div>
        </div>

        <div class="bhai-pay-page-long-orange-img-bg">
          <div class="d-flex justify-content-end">
            <div class="w-100">
              <img
                class="orange-img"
                src="assets/new-images/bhaipay-bottom-img.png"
              />
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section mt-5 pb-5">
      <div class="leverage-cont">
        <div class="d-flex justify-content-center mt-5">
          <div class="bhaipay-container">
            <div>
              <div>
                <img
                  class="w-100"
                  src="assets/bhai-pay-page/Bill-payment.png"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="leverage-img-bg">
          <div>
            <div>
              <img
                class="left-side-greenBlur-img"
                src="assets/new-images/left-side-green-img.png"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section mt-5 pb-5">
      <div class="d-flex justify-content-center mt-5">
        <div class="bhaipay-container">
          <div>
            <div>
              <img
                class="w-100"
                src="assets/bhai-pay-page/Spend-globally.png"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <app-footer-page></app-footer-page>
</div>
