<!-- <app-header-page></app-header-page>
<div class="main-color">
  <app-home-hero-page></app-home-hero-page>

  <main id="main">
    <section class="section">
      <div class="position-relative">
        <div class="container">
          <div class="row justify-content-center text-center">
            <div class="col-md-5" data-aos="fade-up">
              <h1
                class="section-heading karlaFont uppercase content-heading-colour"
              >
                About Us
              </h1>
            </div>
          </div>
          <div id="features" class="text-center px-5 py-1 padding-in-mobile">
            <div class="p-5 padding-in-mobile">
              <div class="cards">
                <div class="p-5">
                  <div class="row">
                    <div class="col-md-3">
                      <div>
                        <div class="">
                          <div class="bhaifinancelogo-card-img-cont">
                            <img
                              class="w-100"
                              src="assets/new-images/BHai-FInance-logo.png"
                            />
                          </div>
                        </div>

                        <div class="">
                          <div class="bhaifinancelogo-card-img-cont">
                            <img
                              class="w-100"
                              src="assets/new-images/BHai-Finance-logo-type.png"
                            />
                          </div>
                        </div>
                      </div>
                    </div>

                    <div
                      class="col-md-1 vertical-border d-flex justify-content-center"
                    ></div>

                    <div class="col-md-8">
                      <h2 class="karlaFont aboutUs-text">
                        BHAI Finance is a complete solution for you to convert
                        your digital assets in real- time to transact in the
                        real world. Established in 2023, BHAI Finance aims to
                        revolutionize finance by integrating the current
                        ecosystem with DeFi for universal accessibility and
                        speed. Bhai Pay, is our app which will hold all digital
                        assets of each users portfolio including
                        cryptocurrencies, real estate, stocks, NFTS, and more.
                      </h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bgImgContainer">
          <div>
            <img
              src="assets/new-images/transparentAboutBg.png"
              class="w-100 object-fit-contain"
            />
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <div class="row justify-content-center text-center mb-3 mt-5">
          <div class="col-md-5" data-aos="fade-up">
            <h2
              class="section-heading karlaFont uppercase content-heading-colour"
            >
              Products
            </h2>
          </div>
        </div>

        <div class="row gap-5 d-flex justify-content-center pad">
          <div class="col-sm-12 col-md-4 col-xl-3 mt-2">
            <div class="product-cards">
              <div class="p-5">
                <div class="d-flex justify-content-center">
                  <div class="product-img-cont">
                    <img
                      class="w-100"
                      src="assets/new-images/bhaipay-Logo.png"
                    />
                  </div>
                </div>
                <div class="d-flex justify-content-center">
                  <div class="product-img-cont">
                    <img
                      class="w-100"
                      src="assets/new-images/BHAI-PAY-name.png"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-4 col-xl-3 mt-2">
            <div class="product-cards">
              <div class="p-5">
                <div class="d-flex justify-content-center">
                  <div class="product-img-cont">
                    <img
                      class="w-100"
                      src="assets/new-images/transparentAsset.png"
                    />
                  </div>
                </div>
                <div class="d-flex justify-content-center mt-4">
                  <div class="product-img-cont">
                    <img class="w-100" src="assets/new-images/BHAI-TOKEN.png" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 col-xl-3 mt-2">
            <div class="product-cards">
              <div class="p-5">
                <div class="d-flex justify-content-center">
                  <div class="product-img-cont mb-3">
                    <img
                      class="w-100"
                      src="assets/new-images/Black Yellow White Simple Folded Paper.png"
                    />
                  </div>
                </div>
                <div class="d-flex justify-content-center mt-4">
                  <div class="product-img-cont">
                    <img class="w-100" src="assets/new-images/BHAI-CHAIN.png" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section mt-5">
      <div class="container">
        <div class="row justify-content-center text-center mb-3 mt-5">
          <div class="col-md-5" data-aos="fade-up">
            <h2
              class="section-heading karlaFont uppercase content-heading-colour"
            >
              WHY BHAI?
            </h2>
          </div>
        </div>

        <div>
          <h2 class="karlaFont">
            Crypto and blockchain technology doesnt have to feel like a
            different language. We are your partner in the revolution of this
            digital age!
          </h2>
        </div>

        <div>
          <div class="row pt-5 justify-content-center">
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mt-5 col-top">
              <div class="why-bhai-card-one">
                <div class="d-flex justify-content-center">
                  <div class="why-bhai-img-cont">
                    <img
                      class="why-bhai-img"
                      src="assets/new-images/Mask group.png"
                      alt=""
                    />
                  </div>
                </div>
                <div class="p-3 mt-3">
                  <div class="mt-5 why-bhai-inner-card">
                    <div>
                      <h5 class="text-center karlaFont fw-bold text-dark">
                        EASE OF USE
                      </h5>
                    </div>

                    <div>
                      <div class="text-center karlaFont mt-2 text-dark">
                        Our interface is very simple and user-friendly. Navigate
                        and off-ramp crypto with a few simple clicks! 
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mt-5 col-top">
              <div class="why-bhai-card">
                <div class="d-flex justify-content-center">
                  <div class="why-bhai-img-cont">
                    <img
                      class="why-bhai-img"
                      src="assets/new-images/loack.png"
                      alt=""
                    />
                  </div>
                </div>
                <div class="pt-4">
                  <h5 class="text-center karlaFont fw-bold text-dark mt-5">
                    Safe-secure-fast
                  </h5>
                </div>

                <div>
                  <div class="text-center karlaFont mt-2 text-dark px-2">
                    2FA, Advanced encryption standards, and SSL/ TLS security
                    methods seamlessly safeguard your assets and daily
                    transactions.
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mt-5 col-top">
              <div class="why-bhai-card">
                <div class="d-flex justify-content-center">
                  <div class="why-bhai-img-cont">
                    <img
                      class="why-bhai-img"
                      src="assets/new-images/customer-support.png"
                      alt=""
                    />
                  </div>
                </div>
                <div class="pt-4">
                  <h5 class="text-center karlaFont fw-bold text-dark mt-5">
                    24/7 support
                  </h5>
                </div>

                <div>
                  <div class="text-center karlaFont mt-2 text-dark">
                    Our team works round the clock. Expect help within 24 hours
                    of contacting us!
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section" id="features">
      <div class="container">
        <div class="row justify-content-center text-center mb-3 mt-5">
          <div class="col-md-5" data-aos="fade-up">
            <h2
              class="section-heading karlaFont uppercase content-heading-colour"
            >
              ROAD MAP
            </h2>
          </div>
        </div>
        <div class="text-center">
          <img width="85%" src="assets/new-images/Roadmap.png" alt="" />
        </div>
      </div>
    </section>

    <div id="contactUs" class="pt-5"></div>
    <section id="contactUs" class="section contact-bg p-5 p">
      <div class="container">
        <div class="row justify-content-center text-center mb-3 mt-3">
          <div class="col-md-5" data-aos="fade-up">
            <h2 class="karlaFont uppercase text-dark">Contact Us</h2>
          </div>
        </div>

        <div class="row">
          <div
            class="col-lg-12 mt-5 mt-lg-0"
            data-aos="fade-left"
            data-aos-delay="200"
          >
            <form
              *ngIf="!showContactUs"
              action="forms/contact.php"
              method="post"
              role="form"
              class="php-email-form"
              id="contact-us-form"
            >
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      style="
                        font-family: Nexa-ExtraLight !important;
                        border-radius: 25px;
                        color: white;
                      "
                      type="text"
                      name="name"
                      class="form-control contact-input-bg inputs input inputBorder"
                      id="name"
                      placeholder="Your Name"
                      required
                      [(ngModel)]="contactUsName"
                      [ngModelOptions]="{ standalone: true }"
                    />
                  </div>

                  <div class="form-group mt-3">
                    <input
                      style="
                        font-family: Nexa-ExtraLight !important;
                        border-radius: 25px;
                        color: white;
                      "
                      type="email"
                      class="form-control contact-input-bg inputs input inputBorder"
                      name="email"
                      id="email"
                      placeholder="Your Email"
                      required
                      [(ngModel)]="contactUsEmail"
                      [ngModelOptions]="{ standalone: true }"
                    />
                  </div>
                  <div class="form-group mt-3">
                    <input
                      style="
                        font-family: Nexa-ExtraLight !important;
                        border-radius: 25px;
                        color: white;
                      "
                      type="text"
                      class="form-control contact-input-bg inputs input inputBorder"
                      name="subject"
                      id="subject"
                      placeholder="Subject"
                      required
                      [(ngModel)]="contactUsSubject"
                      [ngModelOptions]="{ standalone: true }"
                    />
                  </div>
                </div>

                <div class="col-md-6 form-group mt-3">
                  <textarea
                    style="
                      font-family: Nexa-ExtraLight !important;
                      border-radius: 10px;
                      color: white;
                      height: 170px;
                    "
                    class="form-control contact-input-bg inputs input inputBorder"
                    name="message"
                    rows="1"
                    placeholder="Message"
                    required
                    [(ngModel)]="contactUsMsg"
                    [ngModelOptions]="{ standalone: true }"
                  ></textarea>
                </div>
              </div>

              <div class="mb-3 mt-5"></div>
              <div *ngIf="!loading" class="text-center">
                <button
                  (click)="contactUs()"
                  class="contactUsBtn pulse karlaFont"
                  type="submit"
                >
                  SEND MESSAGE
                </button>
              </div>

              <div *ngIf="loading" class="text-center">
                <button
                  [disabled]="loading"
                  (click)="contactUs()"
                  class="contactUsBtn pulse"
                  type="submit"
                >
                  Submitting...
                </button>
              </div>
            </form>

            <form *ngIf="showContactUs">
              <div
                style="margin-bottom: 13%"
                class="waitlist d-flex justify-content-center"
              >
                <div
                  style="width: auto; height: auto"
                  class="pulse glow submitBtn p-3 d-flex justify-content-center"
                  type="submit"
                >
                  Thank you for contacting us, We'll get back to you soon!
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </main>
  <app-footer-page></app-footer-page>
</div> -->
<app-header-page></app-header-page>
<div class="main-color" (click)="closedDropdown()">
  <app-home-hero-page></app-home-hero-page>

  <main id="main">
    <section class="section">
      <div class="position-relative">
        <div class="container">
          <!-- <div class="row justify-content-center text-center">
              <div class="col-md-5" data-aos="fade-up">
                <h1
                  class="section-heading karlaFont uppercase content-heading-colour"
                >
                  About Us
                </h1>
              </div>
            </div>
            <div id="features" class="text-center px-5 py-1 padding-in-mobile">
              <div class="p-5 padding-in-mobile">
                <div class="cards">
                  <div class="p-5">
                    <div class="row">
                      <div class="col-md-3">
                        <div>
                          <div class="">
                            <div class="bhaifinancelogo-card-img-cont">
                              <img
                                class="w-100"
                                src="assets/new-images/BHai-FInance-logo.png"
                              />
                            </div>
                          </div>
  
                          <div class="">
                            <div class="bhaifinancelogo-card-img-cont">
                              <img
                                class="w-100"
                                src="assets/new-images/BHai-Finance-logo-type.png"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
  
                      <div
                        class="col-md-1 vertical-border d-flex justify-content-center"
                      ></div>
  
                      <div class="col-md-8">
                        <h2 class="karlaFont aboutUs-text">
                          BHAI Finance is a complete solution for you to convert
                          your digital assets in real- time to transact in the
                          real world. Established in 2023, BHAI Finance aims to
                          revolutionize finance by integrating the current
                          ecosystem with DeFi for universal accessibility and
                          speed. Bhai Pay, is our app which will hold all digital
                          assets of each users portfolio including
                          cryptocurrencies, real estate, stocks, NFTS, and more.
                        </h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->

          <div class="aboutUs-cont">
            <div class="w-100 d-flex justify-content-center">
              <img class="w-75" src="assets/new-images/aboutUsNew.png" />
            </div>

            <div class="aboutUs-cardbg-one">
              <div class="w-50">
                <img
                  class="w-100"
                  src="assets/new-images/bhaipay-bottom-img.png"
                  alt=""
                />
              </div>
            </div>

            <div class="aboutUs-cardbg-two">
              <div class="">
                <img class="w-100" src="assets/new-images/Ellipse1.png" />
              </div>
            </div>
          </div>
        </div>
        <div class="bgImgContainer">
          <div>
            <img
              src="assets/new-images/transparentAboutBg.png"
              class="about-us-bg-img"
            />
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="d-flex justify-content-center">
        <div class="container">
          <div>
            <div>
              <img class="w-100" src="assets/new-images/Products.png" />
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="d-flex justify-content-center">
      <div class="w-75">
        <div
          style="
            width: 100%;
            height: 2px;
            border: 1px solid rgba(255, 255, 255, 0.71);
          "
        ></div>
      </div>
    </div>

    <section class="section mt-5 why-bhai-section">
      <div class="d-flex justify-content-center position-relative">
        <div class="why-bhai-container">
          <div>
            <div>
              <img class="w-100" src="assets/new-images/WHy-Bhai.png" />
            </div>
          </div>
        </div>

        <div class="why-bhai-bg">
          <div>
            <img class="w-100" src="assets/new-images/why-bhai-bg.png" />
          </div>
        </div>
      </div>
    </section>

    <section class="section road-map-section mt-5 pt-5">
      <div class="road-map">
        <div class="road-map-cont">
          <div>
            <div class="">
              <img class="w-100" src="assets/new-images/road-map-new.png" />
            </div>
          </div>
        </div>

        <div class="road-map-bg">
          <div class="w-25">
            <img class="w-100" src="assets/new-images/road-map-bg.png" />
          </div>
        </div>
      </div>
    </section>

    <section id="contactUs" class="section contact-bg pb-5 mt-5 pt-5 mb-5 p">
      <div class="d-flex justify-content-center">
        <div class="contactus-container">
          <div class="contact-us-card">
            <div class="p-5">
              <div class="row justify-content-center text-center mb-3 mt-3">
                <div class="col-md-5" data-aos="fade-up">
                  <h2 class="karlaFont uppercase text-dark">Contact Us</h2>
                </div>
              </div>

              <div class="row">
                <div
                  class="col-lg-12 mt-5 mt-lg-0"
                  data-aos="fade-left"
                  data-aos-delay="200"
                >
                  <form
                    *ngIf="!showContactUs"
                    action="forms/contact.php"
                    method="post"
                    role="form"
                    class="php-email-form"
                    id="contact-us-form"
                  >
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <input
                            style="
                              font-family: Nexa-ExtraLight !important;
                              border-radius: 25px;
                              color: white;
                            "
                            type="text"
                            name="name"
                            class="form-control contact-input-bg inputs input inputBorder"
                            id="name"
                            placeholder="Your Name"
                            required
                            [(ngModel)]="contactUsName"
                            [ngModelOptions]="{ standalone: true }"
                          />
                        </div>

                        <div class="form-group mt-3">
                          <input
                            style="
                              font-family: Nexa-ExtraLight !important;
                              border-radius: 25px;
                              color: white;
                            "
                            type="email"
                            class="form-control contact-input-bg inputs input inputBorder"
                            name="email"
                            id="email"
                            placeholder="Your Email"
                            required
                            [(ngModel)]="contactUsEmail"
                            [ngModelOptions]="{ standalone: true }"
                          />
                        </div>
                        <div class="form-group mt-3">
                          <input
                            style="
                              font-family: Nexa-ExtraLight !important;
                              border-radius: 25px;
                              color: white;
                            "
                            type="text"
                            class="form-control contact-input-bg inputs input inputBorder"
                            name="subject"
                            id="subject"
                            placeholder="Subject"
                            required
                            [(ngModel)]="contactUsSubject"
                            [ngModelOptions]="{ standalone: true }"
                          />
                        </div>
                      </div>

                      <div class="col-md-6 form-group contact-message">
                        <textarea
                          style="
                            font-family: Nexa-ExtraLight !important;
                            border-radius: 10px;
                            color: white;
                            height: 170px;
                            font-weight: bold;
                          "
                          class="form-control contact-input-bg inputs input inputBorder"
                          name="message"
                          rows="1"
                          placeholder="Message"
                          required
                          [(ngModel)]="contactUsMsg"
                          [ngModelOptions]="{ standalone: true }"
                        ></textarea>
                      </div>
                    </div>

                    <div class="mb-3 mt-5"></div>
                    <div *ngIf="!loading" class="text-center">
                      <button
                        (click)="contactUs()"
                        class="contactUsBtn pulse karlaFont"
                        type="submit"
                      >
                        <!-- SEND MESSAGE -->
                        SUBMIT
                      </button>
                    </div>

                    <div *ngIf="loading" class="text-center">
                      <button
                        [disabled]="loading"
                        (click)="contactUs()"
                        class="contactUsBtn pulse"
                        type="submit"
                      >
                        Submitting...
                      </button>
                    </div>
                  </form>

                  <form *ngIf="showContactUs">
                    <div
                      style="margin-bottom: 13%"
                      class="waitlist d-flex justify-content-center"
                    >
                      <div
                        style="width: auto; height: auto"
                        class="pulse glow submitBtn p-3 d-flex justify-content-center"
                        type="submit"
                      >
                        Thank you for contacting us, We'll get back to you soon!
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <app-footer-page></app-footer-page>
</div>
