<!-- ======= Hero Section ======= -->
<app-header-page></app-header-page>

<section class="terms-bg" id="hero">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 hero-text-image template">
        <div class="container mb-5 mt-5">
          <div class="row justify-content-center text-center mb-3 mt-3">
            <div class="col-md-5 w-100" data-aos="fade-up">
              <h2 class="karlaFont">Terms and Conditions</h2>
            </div>
          </div>

          <div class="row align-items-center mb-4">
            <h3 class="karlaFont">Last Updated: September 15, 2023</h3>
            <div class="nexaFont">
              Kindly take a moment to carefully review these Terms of Use
              (“Terms”) as they outline the legally binding terms and conditions
              that govern your access to and use of our web-hosted user
              interface available at
              <a href="">https://www.bhaifinance.com</a> (“The Apps”), inclusive
              of related trademarks, software code, and other intellectual
              property. The App offers a gateway to a service enabling bill
              payments using cryptocurrencies, tokens, and assets placed within
              decentralized finance (“ DeFi ”) protocols. These Terms explicitly
              outline your rights and responsibilities, alongside our
              disclaimers and limitations of legal liability, concerning your
              interaction with and use of the App. The App stands as a
              copyrighted creation belonging to BHAI Finance, Inc. (“ Company ,”
              “ us ,” “ our ,” “ BHAI ,” and “ we ”), a Delaware corporation.
              Any submission of information, including personally identifiable
              information or personal data (“ Personal Data ”), through or
              linked to the App is subject to the terms detailed in our privacy
              policy, as periodically updated, accessible at
              <a href="">https://www.bhaifinance.com/terms-conditions</a> (“
              Privacy Policy ”). All supplementary terms, guidelines, and rules,
              including our Privacy Policy, are integrated by reference into
              these Terms.
            </div>
            <h5 class="my-3 karlaFont">
              THESE TERMS ENLIST THE LEGALLY BINDING TERMS AND CONDITIONS THAT
              SUPERVISE YOUR UTILIZATION OF THE APP. BY SELECTING “I AGREE” TO
              THESE TERMS OR OTHERWISE ACCESSING OR UTILIZING THE APP, YOU
              AFFIRM YOUR ACCEPTANCE OF THESE TERMS (ON YOUR OWN BEHALF OR ON
              BEHALF OF THE ENTITY YOU REPRESENT), WHICH INCLUDES, AMONG OTHERS,
              THE OBLIGATORY ARBITRATION PROVISION AS STIPULATED IN SECTION 14.
              IF YOU DISAGREE WITH ANY OF THESE TERMS, PLEASE REFRAIN FROM
              ACCESSING OR UTILIZING THE APP.
            </h5>

            <div class="my-2 nexaFont">
              We kindly request that you attentively peruse the disclosures and
              disclaimers provided in Section 12 in their entirety prior to
              engaging with any software initially conceived by BHAI. The
              information within Section 12 offers crucial insights into the
              legal responsibilities connected to your use of the App.
            </div>

            <h3 class="my-2 karlaFont">1. Description of the App</h3>
            <div class="my-2 nexaFont">
              1.1. The App offers access to a service enabling users to settle
              their bills directly using deposits from DeFi protocols.
            </div>
            <div class="my-2 nexaFont">
              1.2. To utilize specific features of the App, you must maintain an
              active account with BHAI (“ BHAI Account ”). Additionally, you are
              required to link your biller accounts to your BHAI Account and
              establish a connection between the App and an Ethereum, Polygon,
              or another blockchain network wallet.
            </div>
            <div class="my-2 nexaFont">
              1.3. You have the option to log out of the App at any time by
              selecting the “Log Out” option within the Account Settings section
              of the App.
            </div>

            <h3 class="my-2 karlaFont">2. Use of the App</h3>
            <div class="my-2 nexaFont">
              2.1. As a prerequisite for accessing or utilizing the App, you
              affirm and assure BHAI of the following:
            </div>
            <div class="my-2 nexaFont">
              a) If you are entering into these Terms as an individual, you are
              either at least 18 years old or meet the legal age criteria in
              your jurisdiction of residence, and you possess the legal capacity
              to enter into these Terms and abide by them.
            </div>
            <div class="my-2 nexaFont">
              b) If you are entering into these Terms on behalf of an entity,
              you possess the legal authority to accept these Terms on behalf of
              that entity. In such cases, "you" (excluding the context of this
              paragraph) will refer to the said entity.
            </div>

            <div class="my-2 nexaFont">
              c) You hold exclusive beneficial and/or legal ownership of any
              digital asset intended for use in purchasing or selling other
              digital assets through the App.
            </div>
            <div class="my-2 nexaFont">
              d) You do not reside in, are not a national of, nor act as an
              agent for Antigua and Barbuda, Algeria, Bangladesh, Bolivia,
              Belarus, Burundi, Burma(Myanmar), Cote D'Ivoire (Ivory Coast),
              Crimea and Sevastopol, Cuba, Democratic Republic of Congo,
              Ecuador, Iran, Iraq, Liberia, Libya, Magnitsky, Mali, Morocco,
              Nepal, North Korea, Somalia, Sudan, Syria, Venezuela, Yemen,
              Zimbabwe, or any other nation subject to embargoes or similar
              sanctions imposed by the United States, the United Kingdom, or the
              European Union (collectively referred to as " Restricted
              Territories ").
            </div>
            <div class="my-2 nexaFont">
              e) You have not been identified as a Specially Designated National
              or placed on any sanctions list by the U.S. Treasury Department’s
              Office of Foreign Assets Control, the U.S. Commerce Department, or
              the U.S. Department of State (collectively, " Sanctions Lists
              Persons "), and you commit not to engage in any unlawful or
              illicit activities through our App.
            </div>
            <div class="my-2 nexaFont">
              f) You do not intend to conduct transactions with any Restricted
              Person or Sanctions List Person.
            </div>
            <div class="my-2 nexaFont">
              g) You do not and will not employ VPN software or any other tools
              or methods for privacy or anonymization to evade or attempt to
              evade any restrictions applicable to the App.
            </div>
            <div class="my-2 nexaFont">
              h) Your access to the App does not (a) violate or assist you in
              violating any domestic or foreign laws, regulations, statutes,
              orders, protocols, codes, decrees, or other directives,
              requirements, or guidelines, whether in effect or published, that
              apply to or regulate any individual, property, transaction,
              activity, event, or other subject, including any rule, order,
              judgment, directive, or other requirement or guideline issued by
              any domestic or foreign federal, provincial or state, municipal,
              local, or other governmental, regulatory, judicial, or
              administrative authority with jurisdiction over BHAI, you, the
              App, or that is otherwise lawfully enacted, enforceable by law, or
              established in common law or equity (collectively referred to as "
              Applicable Laws "); or (b) contribute to or facilitate any illegal
              activities.
            </div>

            <h3 class="my-2 karlaFont">3. Fees and Price Estimates</h3>
            <div class="my-2 nexaFont">
              3.1. You shall remit the applicable fees specified in our Pricing
              FAQ and any other fee or pricing schedule provided to you on
              https://www.bhaifinance.com/, which may be subject to modification
              by us periodically.
            </div>
            <div class="my-2 nexaFont">
              3.2. In connection with your utilization of the App, you are
              obligated to cover all gas fees essential for engaging with the
              Ethereum blockchain, the Polygon blockchain, or any other
              blockchains supported by BHAI, for the purpose of transferring
              funds to or from the BHAI service, in addition to any other
              charges indicated on the App, if applicable. Gas fee values are
              subject to fluctuations, often unpredictably, and fall beyond
              BHAI's control. While we strive to offer accurate fee estimates,
              these estimations may differ from the actual fees incurred when
              using the App and interacting with the Ethereum blockchain. You
              acknowledge that, regardless of the gas fee's visibility or
              acceptability to a user, no transaction shall be nullified,
              revoked, retractable, or rendered unenforceable. Furthermore, you
              understand and agree that gas fees are non- refundable under any
              circumstances.
            </div>

            <h3 class="my-2 karlaFont">4. Prohibited Activity</h3>
            <div class="my-2 nexaFont">
              4.1. The App may not be used for any of the following categories
              of activities, collectively referred to as "Prohibited Uses." The
              examples provided below are illustrative but not exhaustive. If
              you are uncertain about whether your App usage constitutes a
              Prohibited Use or have inquiries concerning the application of
              these requirements to your situation, please contact us at
              info@bhaifinance.com. By using the App, you affirm that you will
              refrain from employing the App to engage in any of the following:
            </div>
            <div class="my-2 nexaFont">
              a) Violating any Applicable Laws, including, without limitation,
              pertinent anti- money laundering and anti-terrorism financing laws
              and sanctions programs, such as, but not limited to, the Bank
              Secrecy Act and the U.S. Department of Treasury’s Office of
              Foreign Asset Controls.
            </div>
            <div class="my-2 nexaFont">
              b) Initiating transactions involving items that infringe upon or
              contravene any copyright, trademark, right of publicity or
              privacy, or any other proprietary right under Applicable Law. This
              includes unauthorized use of BHAI'sintellectual property, name, or
              logo, as well as the misuse of BHAI's trade or service marks,
              without explicit consent from BHAI, or in a manner detrimental to
              BHAI, or any action that implies false endorsement by or
              association with BHAI.
            </div>
            <div class="my-2 nexaFont">
              c) Employing the App in a manner that could disrupt, hinder, or
              negatively impact other users' enjoyment of the App, or that could
              impair the App's functionality in any way.
            </div>
            <div class="my-2 nexaFont">
              d) Bypassing any content-filtering mechanisms, security measures,
              or access controls implemented by BHAI on the App, including, but
              not limited to, the use of VPNs.
            </div>
            <div class="my-2 nexaFont">
              e) Employing any automated means or interfaces, such as robots,
              spiders, crawlers, scrapers, or others not provided by us, to
              access the App or extract data, or introducing any malicious
              software, viruses, Trojan horses, worms, logic bombs, drop-dead
              devices, backdoors, shutdown mechanisms, or other harmful elements
              into the App.
            </div>
            <div class="my-2 nexaFont">
              f) Providing false, inaccurate, or deceptive information during
              App use or engaging in activities intended to defraud BHAI, other
              App users, or any other individuals.
            </div>
            <div class="my-2 nexaFont">
              g) Using or accessing the App to transfer or exchange crypto
              assets derived directly or indirectly from any criminal or
              fraudulent activity, including, but not limited to, terrorism or
              tax evasion.
            </div>
            <div class="my-2 nexaFont">
              h) Utilizing the App in a manner that, at our sole discretion, is
              considered libelous, defamatory, profane, obscene, pornographic,
              sexually explicit, indecent, lewd, vulgar, suggestive, harassing,
              stalking, hateful, threatening, offensive, discriminatory,
              bigoted, abusive, inflammatory, fraudulent, deceptive, or
              otherwise objectionable, or that is likely or intended to incite,
              threaten, facilitate, promote, or encourage hate, racial
              intolerance, or violent acts against others.
            </div>
            <div class="my-2 nexaFont">
              i) Accessing the App from a jurisdiction where BHAI has, at its
              sole discretion, determined that App usage is prohibited.
            </div>
            <div class="my-2 nexaFont">
              j) Harassing, abusing, or causing harm to another person or
              entity, including BHAI's employees and service providers.
            </div>
            <div class="my-2 nexaFont">
              k) Impersonating another App user or misrepresenting your
              identity.
            </div>
            <div class="my-2 nexaFont">
              l) Encouraging, inducing, or aiding any third party, or attempting
              yourself, to engage in any activities prohibited under this
              Section 4 or any other provision of these Terms.
            </div>
            <h3 class="my-2 karlaFont">5. Proprietary Rights</h3>
            <div class="my-2 nexaFont">
              5.1. Subject to these Terms, BHAI grants you a non-transferable,
              non-exclusive, revocable, limited license to utilize and access
              the App for your personal and non- commercial purposes.
            </div>
            <div class="my-2 nexaFont">
              5.2. The rights granted to you under these Terms are subject to
              the following limitations: (a) you are not allowed to license,
              sell, rent, lease, transfer, assign, distribute, host, or
              otherwise commercially exploit the App, either in its entirety or
              in part, or any content displayed on the App; (b) you shall not
              (directly or indirectly) alter, decipher, disassemble, reverse
              compile, reverse engineer, or attempt to extract any source code
              or underlying concepts or algorithms from any portion of the App;
              (c) you shall not access the App with the intent to develop a
              similar or competitive application, product, or service; (d) you
              shall not translate or create derivative works from any part of
              the App; (e) you shall not lease, distribute, or otherwise
              transfer any of the rights granted to you hereunder; (f) you shall
              not frame or mirror any part of the App without prior written
              consent from BHAI; (g) you shall not create a database by
              systematically downloading and storing App content; (h) you shall
              not employ any robot, spider, search/retrieval application, or
              other manual or automatic device to retrieve, harvest, index,
              "scrape," "data mine," or collect App data, or circumvent the
              App's navigational structure or presentation, without BHAI's
              express prior written consent; and (i) except as explicitly stated
              herein, no part of the App may be copied, reproduced, distributed,
              republished, downloaded, displayed, posted, or transmitted in any
              form or by any means. Unless otherwise indicated, any future
              release, update, or other addition to the App will be subject to
              these Terms.
            </div>
            <div class="my-2 nexaFont">
              5.3. BHAI retains the right to modify, suspend, or terminate the
              App (either wholly or partially) at any time, with or without
              notifying you. You acknowledge that BHAI shall not be held liable
              to you or any third party for any such modifications, suspensions,
              or terminations of the App, or any part thereof.
            </div>
            <div class="my-2 nexaFont">
              5.4. You acknowledge and agree that BHAI is not obliged to provide
              any support or maintenance services in connection with the App.
            </div>
            <div class="my-2 nexaFont">
              5.5. You recognize that all intellectual property rights,
              including copyrights, patents, trademarks, and trade secrets,
              associated with the App and its content, are owned by BHAI. These
              Terms (as well as your access to the App) do not transfer any
              rights, title, or interests in or to these intellectual property
              rights to you or any third party, except for the limited access
              rights explicitly outlined in these Terms. BHAI and its suppliers
              retain all rights not expressly granted in these Terms. No implied
              licenses are provided under these Terms.
            </div>
            <h3 class="my-2 karlaFont">6. Third-Party Links</h3>
            <div class="my-2 nexaFont">
              6.1. The App may contain links to external websites or accessible
              applications and resources on the World Wide Web. You acknowledge
              and agree that BHAI is not responsible for the availability of
              such external applications, applications, or resources and does
              not endorse or accept responsibility for any content,
              advertisements, products, or other materials available on or
              through such applications or resources. Furthermore, you recognize
              and agree that BHAI shall not be held responsible or liable,
              directly or indirectly, for any damages or losses arising or
              alleged to arise from the use of or reliance on any such content,
              goods, or services available through any such application or
              resource.
            </div>
            <h3 class="my-2 karlaFont">
              7. Modification, Suspension, and Termination
            </h3>
            <div class="my-2 nexaFont">
              7.1. We may, at our sole discretion, periodically modify, suspend,
              or disable (temporarily or permanently) the App, in whole or in
              part, with or without prior notice to you.
            </div>
            <div class="my-2 nexaFont">
              7.2. You acknowledge and agree that BHAI is not obligated to
              provide any support or maintenance services in connection with the
              App.
            </div>
            <div class="my-2 nexaFont">
              7.3. Upon the termination of your access, your right to use the
              App will cease immediately. We shall not be liable for any losses
              incurred by you as a result of any modifications to the App, or
              due to any modification, suspension, or termination, for any
              reason, of your access to all or any part of the App.
            </div>
            <div class="my-2 nexaFont">
              7.4. Subject to this Section, these Terms will remain in full
              force and effect as long as you use or access the App. We may
              suspend or terminate your rights to use or access the App at any
              time, for any reason, at our sole discretion, including if you use
              the App in violation of these Terms. Upon termination of your
              rights under these Terms, your right to access and use the App
              will terminate immediately. Sections 6 through 16 of these Terms
              will survive any termination of your access to the App, regardless
              of the reasons for such termination, along with any other
              provisions required by law or by their nature to remain in effect.
            </div>
            <h3 class="my-2 karlaFont">8. Accuracy of Information</h3>
            <div class="my-2 nexaFont">
              8.1. We make diligent efforts to ensure that the information
              provided on the App is comprehensive, accurate, and up-to-date.
              However, despite our best endeavors, the information on the App
              may occasionally be erroneous, incomplete, or outdated. We make no
              representations regarding the completeness, accuracy, or
              correctness of any information on the App.
            </div>
            <h3 class="my-2 karlaFont">9. Risks</h3>
            <div class="my-2 nexaFont">
              9.1. Blockchain networks employ public/private key cryptography.
              You are solely responsible for safeguarding your private key(s).
              We do not have access to your private key(s). The loss of control
              over your private key(s) will permanently andirreversibly deny you
              access to cryptoassets on the Ethereum or Polygon blockchains or
              any other blockchain-based network. Neither BHAI nor any other
              entity will be able to recover or safeguard your cryptoassets. If
              your private key(s) are lost, you will be unable to transfer your
              cryptoassets to another blockchain address or wallet, resulting in
              the loss of any value or utility associated with the cryptoassets
              you may hold.
            </div>
            <div class="my-2 nexaFont">
              9.2. Cryptography is a continuously evolving field with
              advancements in code- breaking and other technological
              developments, such as the potential emergence of quantum
              computers, which may pose risks to cryptoassets and the App,
              potentially leading to the theft or loss of your cryptoassets.
            </div>
            <div class="my-2 nexaFont">
              9.3. The Ethereum and Polygon blockchains are still in
              development, giving rise to technological and security risks when
              using the App, in addition to uncertainties regarding cryptoassets
              and associated transactions. You acknowledge that the costs
              associated with transactions on the Ethereum and Polygon
              blockchains are variable and may increase at any time, affecting
              activities conducted on these blockchains, potentially resulting
              in price fluctuations or increased expenses when utilizing the
              App.
            </div>
            <div class="my-2 nexaFont">
              9.4. The App is also under development, which entails
              technological, transactional, and other risks when using or
              accessing it. You recognize that the App may contain flaws and
              that you are solely responsible for assessing any code provided by
              the App. These risks include, but are not limited to, delays in
              withdrawals and deposits due to BHAI's server outages or
              inaccuracies in the App's information due to server errors. You
              acknowledge that these risks may significantly impact your
              transactions through the App, potentially preventing you from
              executing transactions at your desired prices or at all. This
              warning and others provided by BHAI in these Terms do not
              establish an ongoing obligation to notify you of all potential
              risks associated with using or accessing the App.
            </div>
            <div class="my-2 nexaFont">
              9.5. While we strive to offer accurate and timely information on
              the App, the App and other information accessible through it may
              not always be entirely accurate, complete, or current.
              Additionally, there may be technical inaccuracies or typographical
              errors. To ensure that you have the most accurate and up-to-date
              information, verify all information before relying on it. You are
              solely responsiblefor all decisions made based on information
              available on the App. We make no representation regarding the
              accuracy, completeness, or suitability for any particular purpose
              of any pricing information disseminated through the App. Prices
              and pricing information may vary compared to prices offered by
              platforms providing similar services.
            </div>
            <div class="my-2 nexaFont">
              9.6. Any reference to a specific type of digital asset on the App
              does not constitute an endorsement or disapproval of the
              technology underlying that digital asset. It should not be used as
              a substitute for your understanding of the specific risks
              associated with each type of digital asset.
            </div>
            <div class="my-2 nexaFont">
              9.7. Transactions conducted with cryptoassets and the App are
              irreversible and final, with no possibility of refunds. You
              acknowledge and agree that you use and access the App at your own
              risk. The potential loss in transacting with cryptoassets can be
              substantial. Therefore, you should carefully evaluate whether
              engaging with cryptoassets is suitable for you, considering your
              circumstances and level of familiarity with such technology. By
              using or accessing the App, you represent and warrant that you
              have been, are, and will be solely responsible for conducting your
              independent assessment and investigations into the risks
              associated with a particular transaction and the underlying
              cryptoassets. You assert that you possess adequate knowledge,
              market expertise, professional guidance, and experience to assess
              the merits and risks of any transaction conducted through the App
              or any digital asset. You further acknowledge the inherent risks
              associated with cryptographic systems, blockchain-based networks,
              cryptoassets (including native cryptoassets and smart
              contract-based tokens on the Ethereum or Polygon blockchains), and
              systems interacting with blockchain-based networks. You accept all
              consequences of using the App, including the risk of indefinite
              loss of access to your cryptoassets. You, and only you, make all
              transaction decisions. Notwithstanding anything in these Terms, we
              bear no responsibility for, and will not be liable to you for,
              your use of the App in conducting digital asset transactions.
            </div>
            <div class="my-2 nexaFont">
              9.8. We must adhere to Applicable Law, which may require us to
              take certain actions or provide information upon request by
              government agencies, even if such actions or disclosures are not
              in your best interest. The App and your cryptoassets may be
              affected by regulatory inquiries or actions, which could hinder or
              limitBHAI's ability to offer certain parts of the App that rely on
              proprietary BHAI software. Consequently, this may impede or limit
              your access to or use of the App.
            </div>
            <div class="my-2 nexaFont">
              9.9. Cryptoassets currently operate in an uncertain regulatory
              environment in the United States and numerous foreign
              jurisdictions. In the United States, cryptoassets are not subject
              to federal regulatory oversight but may be regulated by state
              regulatory authorities. Furthermore, many cryptoasset derivatives
              fall under the Commodity Exchange Act and related regulations
              issued by the U.S. Commodity Futures Trading Commission (“ CFTC
              ”), and the U.S. Securities and Exchange Commission (“ SEC ”) has
              cautioned that numerous initial coin offerings may be classified
              as securities and thus subject to U.S. securities laws. One or
              more jurisdictions may adopt laws, regulations, or directives in
              the future that affect cryptoasset networks and users. Such laws,
              regulations, or directives may impact cryptoasset prices and their
              acceptance by users, merchants, and service providers.
            </div>
            <div class="my-2 nexaFont">
              9.10. By accepting these Terms, you hereby acknowledge and agree
              that BHAI bears no responsibility or liability for the risks
              outlined in this Section 9. You irrevocably waive, release, and
              discharge all claims, whether known or unknown to you, against
              BHAI, its affiliates, and their respective shareholders, members,
              directors, officers, employees, agents, representatives,
              suppliers, and contractors related to any of the risks described
              in this Section 9.
            </div>

            <h3 class="my-2 karlaFont">10. Personal Data</h3>
            <div class="my-2 nexaFont">
              10.1. Consent to access, processing, and storage of your personal
              data. You provide your consent for us to access, process, and
              retain any Personal Data you furnish when using our App. This
              consent is separate from, and does not impact, any rights or
              responsibilities we or you may have in compliance with data
              protection laws, privacy regulations, and rules. You may withdraw
              your consent at any time by closing your BHAI Account.
              Nevertheless, we may retain and continue to process your Personal
              Data for other legitimate purposes. For more details regarding how
              we handle your Personal Data and your associated rights, please
              refer to our Privacy Policy, which is incorporated by reference
              and accessible here at
              https://www.bhaifinance.com/terms-conditions (“ Privacy Policy ”).
            </div>

            <h3 class="my-2 karlaFont">11. Indemnification</h3>
            <div class="my-2 nexaFont">
              11.1. You agree to defend, indemnify, and hold harmless BHAI, its
              affiliates, and the respective stockholders, members, directors,
              officers, managers, employees, legal representatives, agents,
              suppliers, and contractors of BHAI (collectively, the "Indemnified
              Parties") from any claims, demands, lawsuits, actions,
              proceedings, investigations, liabilities, damages, losses, costs,
              or expenses, including reasonable attorney fees, arising from or
              related to (a) your utilization of the App or (b) any violation of
              these Terms by you, or (c) any infringement or misappropriation of
              the rights of any other individual or entity caused by you. If you
              have an obligation to indemnify any Indemnified Party, BHAI (or,
              at its discretion, the relevant Indemnified Party) will have the
              right to control any action or proceeding and determine whether
              BHAI wishes to settle and, if so, on what terms. You also agree to
              cooperate with BHAI in its defense.
            </div>

            <h3 class="my-2 karlaFont">12. Disclosures; Disclaimers</h3>
            <div class="my-2 nexaFont">
              12.1. BHAI is not responsible in any way for any transactions you
              engage in with other users. You acknowledge that BHAI shall not be
              liable for any losses or damages of any kind resulting from any
              interactions between you and other users.
            </div>
            <div class="my-2 nexaFont">
              12.2. You acknowledge that your data on the App may become
              irretrievably lost, corrupted, or temporarily unavailable due to
              various reasons. You agree that, to the fullest extent permitted
              by Applicable Law, we shall not be liable for any loss or damage
              caused by denial-of-service attacks, software failures, viruses,
              or other technologically harmful materials (including those that
              may infect your computer equipment), protocol changes by
              third-party providers, internet outages, force majeure events,
              other unforeseen disasters, scheduled or unscheduled maintenance,
              or other causes either within or beyond our control.
            </div>
            <div class="my-2 nexaFont">
              12.3. The disclaimer of implied warranties contained herein may
              not apply if and to the extent such warranties cannot be excluded
              or limited under the Applicable Law of the jurisdiction in which
              you reside.
            </div>
            <div class="my-2 nexaFont">
              12.4. The app is provided on an "as-is" and "as available" basis,
              and BHAI (and our suppliers) expressly disclaim any and all
              warranties and conditions of any kind, whether express, implied,
              or statutory, including all warranties or conditions of
              merchantability, fitness for a particular purpose, title, quiet
              enjoyment, accuracy, or non-infringement. We (and our suppliers)
              make no warranty that the app will meet your requirements, will be
              available on an uninterrupted, timely, secure, or error- free
              basis, or will be accurate, reliable, free of viruses or other
              harmful code, complete, legal, or safe. If applicable law requires
              any warranties with respect to the app, all such warranties are
              limited in duration to ninety (90) days from the date of first
              use.
            </div>
            <div class="my-2 nexaFont">
              BHAI does not endorse any other third party and shall not be
              responsible in any way for any transactions you enter into with
              other users. You agree that BHAI will not be liable for any loss
              or damages of any sort incurred as the result of any interactions
              between you and other users.
            </div>
            <div class="my-2 nexaFont">
              Some jurisdictions do not allow the exclusion of implied
              warranties, so the above exclusion may not apply to you. Some
              jurisdictions do not allow limitations on how long an implied
              warranty lasts, so the above limitation may not apply to you.
            </div>

            <h3 class="my-2 karlaFont">13. Limitation of Liability</h3>
            <div class="my-2 nexaFont">
              13.1. To the maximum extent permitted by law, in no event shall
              BHAI be liable to you or any third party for any lost profits,
              lost data, or any indirect, consequential, exemplary, incidental,
              special, or punitive damages arising from or relating to these
              terms or your use of, or inability to use, the app, even if BHAI
              has been advised of the possibility of such damages. Access to,
              and use of, the app is at your own discretion and risk, and you
              will be solely responsible for any damage to your device or
              computer system, or loss of data resulting there from.
            </div>
            <div class="my-2 nexaFont">
              13.2. To the maximum extent permitted by law, notwithstanding
              anything to the contrary contained herein, our liability to you
              for any damages arising from or related to this agreement (for any
              cause whatsoever and regardless of the form of the action), will
              at all times be limited to a maximum of fifty us dollars (U.S.
              $50). The existence of more than one claim will not enlarge this
              limit.
            </div>
            <div class="my-2 nexaFont">
              13.3. Some jurisdictions do not allow the limitation or exclusion
              of liability for incidental or consequential damages, so the above
              limitation or exclusion may not apply to you.
            </div>
            <div class="my-2 nexaFont">
              14.Dispute Resolution & Arbitration 14.1. Please carefully review
              this Arbitration Agreement. It forms an integral part of your
              agreement with BHAI and impacts your legal rights. It establishes
              procedures for mandatory binding arbitration and includes a
              provision for waiving class actions.
            </div>
            <div class="my-2 nexaFont">
              (a) Applicability of Arbitration Agreement. All disputes and
              claims (excluding those seeking injunctive or other equitable
              relief as described below) between BHAI and any user that cannot
              be resolved through informal means or in small claims court shall
              be resolved through binding arbitration on an individual basis as
              outlined in this Arbitration Agreement. Unless otherwise agreed,
              all arbitration proceedings shall be conducted in English. This
              Arbitration Agreement applies to both you and BHAI, as well as to
              any subsidiaries, affiliates, agents, employees, predecessors in
              interest, successors, and assigns, and to all authorized or
              unauthorized users or beneficiaries of services or goods provided
              under these Terms.
            </div>
            <div class="my-2 nexaFont">
              (b) Notice Requirement and Informal Dispute Resolution. Before
              either party initiates arbitration, the party must first send the
              other party a written Notice of Dispute ("Notice") outlining the
              nature and grounds of the claim or dispute, along with the
              requested remedy. Each party hereby consents to accept service of
              process through personal service at their corporate headquarters,
              registered address, or primary address (for individuals or sole
              proprietors). Nothing in these Terms affects the right of any
              party to serve process in any other manner permitted by law. After
              receiving the Notice, you and BHAI may attempt to resolve the
              claim or dispute informally. If the claim or dispute is not
              resolved within thirty (30) days after receipt of the Notice,
              either party may commence arbitration. The arbitrator may not be
              informed of any settlement offer made by either party until after
              the arbitrator determines the amount of any award.
            </div>
            <div class="my-2 nexaFont">
              (c) Arbitration Rules. Arbitration will be initiated through the
              American Arbitration Association ("AAA"), a well-established
              alternative dispute resolutionprovider ("ADR Provider") offering
              arbitration services as described in this section. If AAA is
              unavailable to arbitrate, the parties shall mutually select an
              alternative ADR Provider. The ADR Provider's rules shall govern
              all aspects of the arbitration, except to the extent they conflict
              with these Terms. The AAA Consumer Arbitration Rules ("Arbitration
              Rules"), governing the arbitration, can be accessed online at
              https://www.adr.org or by calling the AAA at 1-800-778- 7879. The
              arbitration shall be conducted by a single, impartial arbitrator.
              Claims or disputes seeking an award of less than Ten Thousand U.S.
              Dollars (US $10,000.00) may be resolved through
              non-appearance-based arbitration, at the initiating party's
              discretion. Claims or disputes seeking an award of Ten Thousand
              U.S. Dollars (US $10,000.00) or more will follow the Arbitration
              Rules and may include the option for a hearing. Any hearing will
              be held within 100 miles of your residence, unless you reside
              outside the United States and both parties agree otherwise. For
              international residents, the arbitrator shall provide reasonable
              notice of the date, time, and location of any in-person hearings.
              The arbitrator may award monetary damages and any non-monetary
              remedies or relief available to an individual under applicable
              law, the Arbitration Rules, and these Terms. The arbitrator shall
              issue a written award and statement of decision outlining
              essential findings and conclusions forming the basis of the award,
              including the calculation of any awarded damages. The arbitrator
              has the authority to grant relief on an individual basis
              comparable to what a judge would be able to grant in a court of
              law. The arbitrator's award is final and binding on both you and
              BHAI.
            </div>
            <div class="my-2 nexaFont">
              (d) Additional Rules for Non-Appearance Based Arbitration. If
              non-appearance based arbitration is chosen, the arbitration will
              occur via telephone, online, or based solely on written
              submissions, as decided by the party initiating the arbitration.
              The arbitration will not require the physical presence of the
              parties or witnesses unless both parties mutually agree.
            </div>
            <div class="my-2 nexaFont">
              (e) Time Limits. If either party commences arbitration, it must be
              initiated and/or demanded within the applicable statute of
              limitations (the legal deadline for filing a claim) and within any
              timeframes specified in the AAA Rules relevant to the particular
              claim.
            </div>
            <div class="my-2 nexaFont">
              (f) Authority of Arbitrator. In the event of arbitration, the
              arbitrator will determine the rights and liabilities, if any, of
              you and BHAI, and the dispute will not becombined with any other
              matters or parties. The arbitrator has the authority to grant
              motions for the resolution of any claim. The arbitrator may award
              monetary damages and grant non-monetary remedies or relief
              available to individuals under applicable law, the AAA Rules, and
              these Terms. The arbitrator will provide a written award and
              statement of decision detailing essential findings and conclusions
              upon which the award is based, including the calculation of any
              damages awarded. The arbitrator possesses the same authority to
              grant relief on an individual basis as a judge in a court of law.
              The arbitrator's award is final and binding on both you and BHAI.
            </div>
            <div class="my-2 nexaFont">
              (g) Waiver of Jury Trial. The parties hereby waive their
              constitutional and statutory rights to a trial in court before a
              judge or jury, electing instead to have all claims and disputes
              resolved through arbitration under this arbitration agreement.
              Arbitration procedures are typically less complex, more efficient,
              and less costly than those applicable in court and are subject to
              limited review by a court. In cases where litigation arises
              between you and bhai in state or federal court to vacate or
              enforce an arbitration award, you waive all rights to a jury trial
              and elect to have the dispute resolved by a judge.
            </div>
            <h2 class="my-2 karlaFont">
              (h) Waiver of Class or Consolidated Actions. ALL CLAIMS AND
              DISPUTES WITHIN THE SCOPE OF THIS ARBITRATION AGREEMENT MUST BE
              ARBITRATED OR LITIGATED ON AN INDIVIDUAL BASIS, AND CLAIMS OF MORE
              THAN ONE USER CANNOT BE ARBITRATED OR LITIGATED JOINTLY OR
              CONSOLIDATED WITH THOSE OF ANY OTHER USER.
            </h2>
            <div class="my-2 nexaFont">
              (i) Confidentiality. All aspects of the arbitration proceeding,
              including but not limited to the award of the arbitrator and
              compliance therewith, shall be kept strictly confidential. The
              parties agree to maintain this confidentiality, unless otherwise
              required by applicable law. This provision shall not prevent a
              party from disclosing any necessary information to a court of law
              for the purpose of enforcing this Agreement, an arbitration award,
              or seeking injunctive or equitable relief.
            </div>
            <div class="my-2 nexaFont">
              (j) Severability. If any part or parts of this Arbitration
              Agreement are deemed invalid or unenforceable under the law by a
              court of competent jurisdiction, those specific parts shall be
              deemed null and void, and the remainder of the Agreement shall
              remain in full force and effect.
            </div>
            <div class="my-2 nexaFont">
              (k) Right to Waive. Any or all of the rights and limitations
              outlined in this Arbitration Agreement may be waived by the party
              against whom a claim is made. Such waiver shall not affect or
              waive any other part of this Arbitration Agreement.
            </div>
            <div class="my-2 nexaFont">
              (l) Survival of Agreement. This Arbitration Agreement shall remain
              in effect even after the termination of your relationship with
              BHAI.
            </div>
            <div class="my-2 nexaFont">
              (m) Small Claims Court. Notwithstanding the provisions above,
              either you or BHAI may bring an individual action in small claims
              court.
            </div>
            <div class="my-2 nexaFont">
              (n) Emergency Equitable Relief. In addition to the above, either
              party may seek emergency equitable relief from a state or federal
              court to maintain the status quo pending arbitration. Such a
              request for interim measures shall not be considered a waiver of
              any other rights or obligations under this Arbitration Agreement.
            </div>
            <div class="my-2 nexaFont">
              (o) Claims Not Subject to Arbitration. Despite the provisions of
              this Arbitration Agreement, claims related to defamation,
              violation of the Computer Fraud and Abuse Act, and infringement or
              misappropriation of the other party’s patents, copyrights,
              trademarks, or trade secrets shall not be subject to arbitration.
            </div>
            <div class="my-2 nexaFont">
              (p) Courts. In situations where the foregoing Arbitration
              Agreement allows litigation in court, the parties hereby agree to
              submit to the personal jurisdiction of the courts located within
              London, England (U.K.), for such purposes.
            </div>

            <h3 class="my-2 karlaFont">15. Governing Law</h3>
            <div class="my-2 nexaFont">
              15.1. The interpretation and enforcement of these Terms, and any
              dispute related to these Terms or the App, will be governed by and
              construed and enforced under the laws of the State of Delaware, as
              applicable, without regard to conflict of law rules or principles
              (whether of the State of Delaware or any other jurisdiction) that
              would cause the application of the laws of any other jurisdiction.
              You agree that BHAI may initiate a proceeding related to the
              enforcement or validity of our intellectual property rights in any
              court having jurisdiction. For any other proceeding that is not
              subject to arbitration under these Terms, the state and federal
              courts located in Delaware will have exclusive jurisdiction. You
              waive any objection to venue in any such courts.
            </div>
            <h3 class="my-2 karlaFont">16. General Information</h3>
            <div class="my-2 nexaFont">
              16.1. These Terms are subject to occasional revision, and if BHAI
              makes any substantial changes, BHAI may notify you by sending you
              an e-mail to the last e- mail address you provided to BHAI (if
              any), and/or by prominently posting notice of the changes on our
              App or on
              <a>https://www.bhaifinance.com/.</a> You are responsible for
              providing BHAI with your most current e-mail address. In the event
              that the last e-mail address that you have provided BHAI is not
              valid, or for any reason is not capable of delivering to you the
              notice described above, BHAI's dispatch of the e-mail containing
              such notice will nonetheless constitute effective notice of the
              changes described in the notice. Any changes to these Terms will
              be effective one (1) day following the earlier of BHAI's dispatch
              of an e-mail notice to you (if applicable) or one (1) day
              following BHAI's posting of notice of the changes on our App.
              These changes will be effective immediately for new users of our
              App. Continued use of our App following notice of such changes
              shall indicate your acknowledgment of such changes and agreement
              to be bound by the terms and conditions of such changes.
            </div>
            <div class="my-2 nexaFont">
              16.2. You consent to receive all communications, agreements,
              documents, receipts, notices, and disclosures electronically
              (collectively, our “ Communications ”) that BHAI provides in
              connection with these Terms or the use of the App. You agree that
              BHAI may provide our Communications to you by posting them on the
              App or by emailing them to you at the email address you provide in
              connection with using the App, if any. You should maintain copies
              of our Communications by printing a paper copy or saving an
              electronic copy. You may also contact us with questions,
              complaints, or claims concerning the App at info@bhaifinance.com .
            </div>
            <div class="my-2 nexaFont">
              16.3. Any right or remedy of BHAI set forth in these Terms is in
              addition to, and not in lieu of, any other right or remedy whether
              described in these Terms, under Applicable Law, at law, or in
              equity. The failure or delay of BHAI in exercising any right,
              power, or privilege under these Terms shall not operate as a
              waiver thereof.
            </div>
            <div class="my-2 nexaFont">
              16.4. The invalidity or unenforceability of any of these Terms
              shall not affect the validity or enforceability of any other of
              these Terms, all of which shall remain in full force and effect.
            </div>
            <div class="my-2 nexaFont">
              16.5. BHAI will have no responsibility or liability for any
              failure or delay in performance of the App, or any loss or damage
              that you may incur, due to any circumstance or event beyond BHAI's
              control, including without limitation any flood, extraordinary
              weather conditions, earthquake, or other act of God, fire, war,
              insurrection, riot, labor dispute, accident, action of government,
              communications, power failure, or equipment or software
              malfunction.
            </div>
            <div class="my-2 nexaFont">
              16.6. You may not assign or transfer any right to use the App, or
              any of your rights or obligations under these Terms, without
              BHAI's express prior written consent, including by operation of
              law or in connection with any change of control. BHAI may assign
              or transfer any or all of its rights or obligations under these
              Terms, in whole or in part, without notice or obtaining your
              consent or approval.
            </div>
            <div class="my-2 nexaFont">
              16.7. Headings of sections are for convenience only and shall not
              be used to limit or construe such sections.
            </div>
            <div class="my-2 nexaFont">
              16.8. These Terms contain the entire agreement between you and
              BHAI, and supersede all prior and contemporaneous understandings
              between the parties regarding the App.
            </div>
            <div class="my-2 nexaFont">
              16.9. In the event of any conflict between these Terms and any
              other agreement you may have with us, these Terms will control
              unless the other agreement specifically identifies these Terms and
              declares that the other agreement supersedes these Terms.
            </div>
            <div class="my-2 nexaFont">
              16.10. You agree that, except as otherwise expressly provided in
              this Agreement, there shall be no third-party beneficiaries to the
              Agreement other than the Indemnified Parties.
            </div>
            <div class="my-2 nexaFont">
              16.11. A waiver by BHAI of any right or remedy under these Terms
              shall only be effective if it is in writing, executed by a duly
              authorized representative of BHAI and shall apply only to the
              circumstances for which it is given. BHAI's failure to exercise or
              enforce any right or remedy under these Terms shall not operate as
              a waiver of such right or remedy, nor shall it prevent any future
              exercise orenforcement of such right or remedy. No single or
              partial exercise of any right or remedy shall preclude or restrict
              the further exercise of any such right or remedy or other rights
              or remedies.
            </div>
            <div class="my-2 nexaFont">
              16.12. Copyright © 2023 BHAI Finance, Inc. All rights reserved.
              All trademarks, logos, and service marks (“ Marks ”) displayed on
              the App are our property or the property of other third parties.
              You are not permitted to use these Marks without our prior written
              consent or the consent of such third party which may own the
              Marks.
            </div>
            <div class="my-2 nexaFont">
              16.13. For any questions, comments, or feedback, you may contact
              us by emailing <a href="">info@bhaifinance.com</a> .
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
